.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1;

    transition: .4s;

}

.nav {

    display: flex;
    justify-content: space-between;
}


.nav__menu {
    position: fixed;
    bottom: 1rem;
    background-color: #0b111e;
    width: 40%;

    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);


}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {

    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;
}


.active-link {
    background: linear-gradient(180deg,
            hsla(var(--first-hue), var(--sat), var(--lig), 1),
            hsla(var(--first-hue), var(--sat), var(--lig), .2));
    box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4);
    color: var(--title-color);
}


/* Change background header */
.scroll-header {
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}